//mq
max = _mq(1760)
presentation = _mq(1200)
large = _mq(960)
med = _mq(600)

f_med = _mq(600)
f_large = _mq(960)
f_xlarge = _mq(1440)
f_xxlarge = _mq(1920)

//colors
brand_base = #ffffff //white
brand_primary = #d32333 //red
brand_primary_alt = #fe3447 //pink
brand_accent = #f5d569 //dark yellow
brand_accent_alt = #f9f3d5 //light yellow
brand_accent_alt1 = #f9f3d5 //tan
brand_accent_alt2 = #fffbe6 //cream
brand_neutral = #545048 //charcoal
brand_neutral_alt = #989797 //grey
brand_body = #fffef5 //body cream


brand_pass = #8ede8a
brand_fail = #eb5d5d


presentation_stroke = 5
seperation_stroke = 1
presentation_spacing = 75
stroke_width = 2


body_copy_size = 16
rotate_time = 1s
rotate_ease = ease-in-out

badge_w = 292