<!DOCTYPE html>
{{!include "../includes/_headTemplate.handlebars"}}
<body data-master="home">
<!--[if lt IE 8]><p class="chromeframe">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a better browser</a> to experience this site.</p><![endif]-->


  {{!include "../includes/_header.handlebars"}}

  <div class="main" role="main" id="main">
    <p>main</p><p>awesome paragraph 2</p><p>This should be index!!</p><a href="template.html">go to template</a>
    <h1>H1: Lorem Ipsum!!!!!</h1>
    <h2>H1: Lorem Ipsum!</h2>
    <h3>H1: Lorem Ipsum!</h3>
    <h4>H1: Lorem Ipsum</h4>
    <h5>H1: Lorem Ipsum</h5>
    <h6>H1: lksdfhjkljsdhfkjlsdgs</h6>
  </div>

  {{!include "../includes/_footer.handlebars"}}

</body>
</html>