<!DOCTYPE html>
{{!include "../includes/_headTemplate.handlebars"}}
<body>
	{{!include "../includes/_browser_warnings.handlebars"}}

  {{!include "../includes/_header.handlebars"}}

  <main class="main" role="main" id="main" data-master="" data-action="">
  </main>

  {{!include "../includes/_footer.handlebars"}}

</body>
</html>