body
	background-color brand_body
	color brand_neutral
	line-height 1.4
	@media large
		display flex
		flex-direction column
		min-height 100vh

p
	margin 0 0 16 0

img
	max-width 100%

*:focus
	outline 0

button
	background none
	border 0